<div class="row">

  <!-- top area -->

  <div class="area-top clearfix">
    <div class="pull-left header">
      <h3 class="title">
        Projects
      </h3>
      <h5>
        A dashboard for all the magic.
      </h5>
    </div>

    <!-- the sparkline charts area. you can basically put anything here, i chose sparklines -->

    <ul class="list-inline pull-right sparkline-box">
      <li class="sparkline-row">
        <h4 class="blue"><span>Orders</span> 7</h4>
        <div class="sparkline big" data-color="blue"><!-- some,numbers,comma,separated,here --></div>
      </li>
    </ul>

  </div>
</div>
