  <div class="col-xs-8 text-center well">
    <h3>Timer Component</h3>
    <h2>{{seconds}}</h2>
    <button {{action 'startTimer'}} class="btn btn-green">Start</button>
    <button {{action 'stopTimer'}} class="btn btn-red">Stop</button>
    <button {{action 'resetTimer'}} class="btn btn-black">Reset</button>
  </div>
  <div class="col-xs-2">&nbsp;</div>
</div>
