<div class="accordion-inner">
  <table class="table table-normal" id="tableofrates">
    <thead>
      <tr>
        <td style="width: 20px;">
          <i class="fa fa-plus-sign-alt fa-large"></i>
        </td>
        <td><span>Currency</span></td>
        <td><span>Exchange Rate</span></td>
        <td style="width: 20px;"></td>
      </tr>
    </thead>
    <tbody id="tax_rates_body">

    </tbody>
  </table>
</div>
