<div id="breadcrumbs">
  <div class="breadcrumb-button yellow">
    <span class="breadcrumb-label"><i class="fa fa-home"></i> Home</span>
    <span class="breadcrumb-arrow"><span></span></span>
  </div>

  <div class="breadcrumb-button">
      <span class="breadcrumb-label"><i class="fa fa-film"></i> Projects</span>
      <span class="breadcrumb-arrow"><span></span></span>
  </div>
</div>
