<div class="container">
  <div class="col-md-4 col-md-offset-4">

    <div class="padded">
      <div class="login box" style="margin-top: 80px;">

        <div class="box-header">
          <span class="title">Login</span>
        </div>

        <div class="box-content padded">
          <form class="separate-sections" {{action 'authenticate' on='submit'}}>
            <div class="input-group addon-left">
              <span class="input-group-addon" href="#">
                <i class="fa fa-user"></i>
              </span>
              {{input id='identification' placeholder='Enter Login' value=identification}}
            </div>

            <div class="input-group addon-left">
              <span class="input-group-addon" href="#">
                <i class="fa fa-key"></i>
              </span>
              {{input id='password' placeholder='Enter Password' type='password' value=password}}
            </div>

            <div>
              <button class="btn btn-blue btn-block" type='submit'>Login <i class="fa fa-sign-in"></i></button>
            </div>

          </form>

          <div>
            <a href="sign_up.html">
                Don't have an account? <strong>Sign Up</strong>
            </a>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-md-4">
          <a href="#" class="btn btn-facebook btn-block"><i class="fa fa-google-plus-square"></i> Google</a>
        </div>
        <div class="col-md-4">
          <a href="#" class="btn btn-facebook btn-block"><i class="fa fa-facebook-square"></i> Facebook</a>
        </div>
        <div class="col-md-4">
          <a href="#" class="btn btn-twitter btn-block"><i class="fa fa-twitter"></i> Twitter</a>
        </div>
      </div>
    </div>
  </div>
</div>
