<div class="sidebar-background">
  <div class="primary-sidebar-background"></div>
</div>

<div class="primary-sidebar">
  <!-- Main nav -->
  <ul class="nav navbar-collapse collapse navbar-collapse-primary">
    {{#each navItems}}
      {{side-nav name=name url=url icon=icon tagName="li"}}
    {{/each}}
  </ul>
</div>
