<div data-ng-controller="AppCtrl">
    <div data-ng-hide="isSpecificPage()" data-ng-cloak>
        <section data-ng-include=" 'views/header.html' " id="header" class="top-header">{{partial "ngheader"}}</section>
        <aside data-ng-include=" 'views/nav.html' " id="nav-container">{{partial "ngnav"}}</aside>
    </div>

    <div class="view-container">
        <section data-ng-view id="content" class="animate-fade-up">{{outlet}}</section>
    </div>
</div>
