{{top-area}}

<div class="container padded">
  <div class="row">

    <!-- Breadcrumb line. first item has a blue class attached to breadcrumb-button. there's a yellow class too, try it -->

    {{partial "breadcrumbs"}}

  </div>
</div>

<div class="container">
  {{outlet}}
</div>
