<div class="sidebar-background">
  <div class="primary-sidebar-background"></div>
</div>

<div class="primary-sidebar">
  <ul class="nav">

    <li class="">
      <span class="glow"></span>
      <a href="/projects" id="projects_path">
          <i class="icon-th-list icon-2x"></i>
          <span>All Projects</span>
      </a>
    </li>

    <li class="active">
      <span class="glow"></span>
      <a href="/projects/1" id="projects_path">
          <i class="icon-film icon-2x"></i>
          <span>Project</span>
      </a>
    </li>

    <li class="">
      <span class="glow"></span>
      <a href="/projects/1/purchase_orders" id="project_purchase_order_path">
        <i class="icon-file-alt icon-2x"></i>
        <span>P.O.s</span>
      </a>
    </li>

    <li class="">
      <span class="glow"></span>
      <a href="/projects/1/assignments" id="project_assignments_path">
        <i class="icon-group icon-2x"></i>
        <span>Crew</span>
      </a>
    </li>

    <li class="">
      <span class="glow"></span>
      <a href="/projects/1/vendors" id="project_vendors_path">
        <i class="icon-barcode icon-2x"></i>
        <span>Vendors</span>
      </a>
    </li>

    <li class="">
      <span class="glow"></span>
      <a href="/projects/1/departments" id="project_departments_path">
        <i class="icon-sitemap icon-2x"></i>
        <span>Dept.s</span>
      </a>
    </li>
  </ul>
</div>
